#__next {
  background-color: rgb(35, 63, 99);
  width: 100vw;
  height: 100%;
}
#__next li.nav-item {
  font-size: 20px;
  margin-right: 16px;
  text-decoration: none;
}
.container {
  background-color: rgb(36, 34, 32);
  color: antiquewhite;
  max-width: 800px;
  height: 100%;
}
.container img {
  max-width: 320px;
  height: fit-content;
}
.container ul {
  max-width: 800px;
}
