#__next {
  background-color: rgb(35, 63, 99);
  width: 100vw;
  height: 100%;
}

#__next a.nav-item {
  font-weight: 650;
  font-size: 20px;
  text-decoration:none;
  margin-left:20px;
}
#__next nav.ul{
  width:100vw;
}

.container {
  background-color: rgb(149, 92, 36);
  color: white;
  max-width: 800px;
  height: fit-content;
}
.container img {
  max-width: 320px;
  height: fit-content;
}
.container ul {
  max-width: 800px;
}

.main {
  height: 100%;
}
