#__next {
  background-color: rgb(35, 63, 99);
}
#__next li.nav-item {
  font-size: 20px;
  margin-right: 16px;
  text-decoration: none;
}
.container {
  background-color: rgb(36, 34, 32);
  color: antiquewhite;
  max-width: 800px;
  
}
.container img {
  max-width: 320px;
  height: auto;
}
.container ul {
  
  max-width: 800px;
  
 
}
